html {
    position: relative;
}

body {
    height: 400px;
    width: 100%;
}


hr {

    border: 2px solid rgb(0, 0, 0);
    
}

.homme {
    background-image: url('img/bgPt2.jpg');
    height: 500px;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.homme img {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border: solid #eee;
}